mixin showItemInfo(header, desc)
        h3=header 
        p=desc

mixin createRows(listSections)
    each block in listSections
        .contaner-rows-item
            .contaner-rows-item-img
                img(src=block.imageUrl)
        .contaner-rows-item
            .contaner-rows-item-desc
                +showItemInfo(block.header, block.desc)

mixin createArticle(image, articleTitle, description)
        .contaner-heading-img
            img(src=image)
        .contaner-heading-head=articleTitle
        .contaner-heading-desc=description